<mat-toolbar color="primary">
    <span>
        <a routerLink="" mat-button>
            <mat-icon>local_movies</mat-icon> Angular Peliculas
        </a>
    </span>
    <div>
        <a mat-button routerLink="peliculas/buscar">
           <mat-icon>search</mat-icon> Buscar Pelicula
        </a>
    </div>
    <div>
        <a mat-button routerLink="generos">
           <mat-icon>format_list_bulleted</mat-icon> Generos
        </a>
    </div>
    <div>
        <a mat-button routerLink="actores">
           <mat-icon>format_list_bulleted</mat-icon> Actores
        </a>
    </div>
    <div>
        <a mat-button routerLink="cines">
           <mat-icon>format_list_bulleted</mat-icon> Cines
        </a>
    </div>
    <div>
        <a mat-button routerLink="peliculas/crear">
           <mat-icon>format_list_bulleted</mat-icon> Crear Pelicula
        </a>
    </div>
    
</mat-toolbar>
