
<app-listado-generico [listado]="peliculas">
    <ng-container contenido>
        <div class="movies-container">
            <div *ngFor="let pelicula of peliculas; let index = index" class="movie-container">
                <a  [routerLink]="'/peliculas/'+pelicula.id">
                    <img [src]="pelicula.poster" alt="Poster" />
                </a>
                <p>
                    <a  [routerLink]="'/peliculas/'+pelicula.id">{{pelicula.title}} </a>
                </p>
                <app-autorizado [rol]="'admin'">
                    <ng-container Autorizado>
                        <div>
                            <a mat-flat-button color="primary" [routerLink]="'/peliculas/editar/'+pelicula.id">Editar</a>
                            <button 
                            mat-flat-button color="warn" 
                            type="button"
                            [swal]="{title: 'Confirmación', text: '¿Esta seguro que desea borrar esta pelicula?', showCancelButton:true}"
                            (confirm)="eliminar(pelicula.id)"
                            >Borrar</button>
                        </div>
                    </ng-container>                   
                </app-autorizado>                        
                <app-rating (rated)="setRating($event)"></app-rating>
            </div>
        </div>        
    </ng-container>
</app-listado-generico>