<h2>Buscar Peliculas</h2>
<mat-spinner *ngIf="!peliculas"></mat-spinner>
<form [formGroup]="form" *ngIf="peliculas">
    <mat-form-field appearance="outline">
        <mat-label>Titulo</mat-label>
        <input formControlName="title" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Genero</mat-label>
        <mat-select  formControlName="genreId">
            <mat-option [value]="''">-- Seleccione un genero --</mat-option>
            <mat-option *ngFor="let genero of generos" [value]="genero.id">{{genero.name}}</mat-option>
        </mat-select>
     </mat-form-field>

     <div>
         <mat-checkbox formControlName="NextPremiers">Proximos Estrenos</mat-checkbox>         
     </div>
     <div>
        <mat-checkbox formControlName="InTheaters">En Cines</mat-checkbox>
     </div>

     <div class="clean-container">
         <button mat-flat-button (click)="limpiar()" color="warn">Limpiar</button>
     </div>
</form>

<app-listado-peliculas 
(borrado)="borrado()"
[peliculas]="peliculas"></app-listado-peliculas>

<mat-paginator
[length]="cantidadElementos"
[pageSize]="cantidadElementosAMostrar"
(page)="paginatorUpdate($event)"
></mat-paginator>